.nav.fixed
  .nav-content
    .logo-container
      = link_to '/index.html' do
        = image_tag 'logo_white.png', alt: 'Civic Vision', height: 30, class: 'logo'
        %h4 Open Data Consultancy for social good
    %ul.nav-small
      - data.services.navigation.each do |service|
        %li
          = link_to t("services.#{service.id}.title"), service.link
      %li
        = link_to 'Resources', '/resources'
