#footer
  .content
    %ul#items
      %li.item
        %h4= t('footer.offers.title')
        %ul
          %li
            = link_to "Donor Onboarding", "http://civicvision.de/donor-retention"
          %li
            = link_to "Civic Storytelling", "http://civicvision.de/civicstorytelling"
          %li
      %li.item
        %h4= t('footer.resources.title')
        %ul
          %li
            = link_to "Donor Retention Calculator", "http://civicvision.de/donor-retention-calculator"
          %li
            = link_to "Thank your donors Email Course", "http://civicvision.de/be-a-donor-yourself"
          %li
            = link_to "Donor Retention Resources", "http://civicvision.de/donor-retention-resources"
      %li.item
        %h4 Civic Vision
        %ul
          %li
            = link_to "Terms of Service", "/legal/index.html"
          %li
            = link_to "Privacy Policy", "/legal/privacy/index.html"
    %p.company
      &copy; 2017 Civic Vision UG
      %br
      Joachim-Friedrich-Str. 53,
      10711 Berlin
      %br
      = "#{t('footer.company.tax_number')} DE296100763"
      %br
      %br
