#footer
  .content
    %ul#items
      = partial "partials/footer_links", locals: { title: t('footer.offers.title'), link_list: data.services.footer, list_id: "services"}
      = partial "partials/footer_links", locals: { title: "Free Email Courses", link_list: data.resources.email_courses, list_id: "resources"}
      = partial "partials/footer_links", locals: { title: "Talks", link_list: data.resources.talks, list_id: "resources"}
      = partial "partials/footer_links", locals: { title: "Side Projects", link_list: data.portfolio.side_projects, list_id: "projects"}
      %li.item
        %h4 Civic Vision
        %ul
          %li
            = link_to "Terms of Service", "/legal/index.html"
          %li
            = link_to "Privacy Policy", "/legal/privacy/index.html"
  %hr.alternate
  .content.address
    %p.company
      &copy; 2017 Civic Vision UG
      %br
      Joachim-Friedrich-Str. 53,
      10711 Berlin
      %br
      = "#{t('footer.company.tax_number')} DE296100763"
      %br
      %br
