---
---
#how.section-alternate
  .content
    :markdown
      ### #{t('how.title')}
    :markdown
      #{t('how.content')}

    -#
      .how-steps
        %h3 Open Data
        :markdown
          #{t('how.open_data.content')}
        %h3 Open Source
        :markdown
          #{t('how.open_source.content')}
        %h3 Community
        :markdown
          #{t('how.community.content')}
