- unless locals[:form_name]
  - form_name = 'newsletter'
- unless locals[:show_name]
  - show_name = true
  - name = 'newsletter'
.newsletter.big
  .newsletter-wrapper
    .content
      %h3= t("#{form_name}.headlines.enjoy")
      %p= t("#{form_name}.text.normal")
    = partial "partials/subscribe_form", locals: { show_name: show_name, name: name }
