- unless locals[:action]
  - unless locals[:drip_form_id]
    - drip_form_id = current_page.data.drip_form_id
  - action = "https://www.getdrip.com/forms/#{drip_form_id}/submissions"
- unless locals[:classNames]
  - classNames = ''
- unless locals[:show_name]
  - show_name = false
- unless locals[:show_labels]
  - show_labels = false
.signup(class="#{classNames}")
  - if locals[:cols]
    = yield_content(cols)
  .form-content
    - if locals[:form_content]
      = yield_content(form_content)
    %form(action="#{action}" method="post" data-drip-embedded-form="#{drip_form_id}" target="_blank")
      - if show_name
        - if show_labels
          %label(for="fields[name]")=t("#{name}.label.name")
        %input(name="fields[name]" type="text" value="" placeholder="#{t("#{name}.placeholder.name")}")
      - if show_labels
        %label(for="fields[email]")=t("#{name}.label.email")
      %input.required.email(name="fields[email]" type="email" value="" placeholder="#{t("#{name}.placeholder.email")}")
      %input.subscribe.button(name="subscribe" type="submit" value="#{t("#{name}.subscribe")}")/
      - if locals[:form_footer]
        .form-footer
          = yield_content(form_footer)
