- testemonial = data.testemonials[testemonial_id]
- section_classes = locals.key?(:classes) ? classes : ''
%section.testimonial(class="#{section_classes}")
  .content-wrapper
    - if testemonial.img
      = image_tag testemonial[:img][:src], alt: testemonial[:img][:src], class: 'testimonial-img'
    .testimonial-copy
      :markdown
        #{testemonial.text}
    %h4.testimonial-author= testemonial.author
    %span.testimonial-title= testemonial.title
