.nav.fixed
  .nav-content
    .logo-container
      = link_to 'https://civicvision.de' do
        = image_tag 'logo_white.png', alt: 'Civic Vision', height: 30, class: 'logo'
        %h4 Open Data Consultancy for social good
    %h2 Workshop - Mapping with d3
    %ul.nav-small
      %li
        = link_to 'Presentation', '/presentation/index.html'
      %li
        = link_to 'D3 Basics', '/challenges/basics/index.html'
      %li
        = link_to 'D3 Mapping', '/challenges/geo/index.html'
